.git
.github
.gitignore
.idea
.vscode
.kotlin
.gradle
.claude
*.iml

build
deploy
data
tmp
out
*.log

LICENSE

.env
.env.*
!.env.example

*.md
Dockerfile
.dockerignore
compose.yml
docker-compose.yml
gradlew.bat
